@import "../../mixins.scss";

.carousel {
  margin-bottom: 50px;

  .contentWrapper {
    position: relative;
  }

  .carouselTitle {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .arrow {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    display: block;

    @include md {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .carouselLeftNav {
    left: 30px;
  }
  .carouselRightNav {
    right: 30px;
  }

  .loadingSkeleton {
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;

    @include md {
      gap: 10px;
      //   overflow-y: hidden;
      overflow-x: auto;
      margin-right: -20px;
      margin-left: -20px;
      padding: 0 20px;
    }

    .skeletonItem {
      width: calc(20% - 16px);

      @include md {
        width: 125px;
      }

      flex-shrink: 0;

      .posterBlock {
        border-radius: 12px;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        margin-bottom: 30px;
      }

      .textBlock {
        display: flex;
        flex-direction: column;
        .title {
          width: 100%;
          height: 20px;
          margin-bottom: 10px;
        }
        .date {
          width: 75%;
          height: 20px;
        }
      }
    }
  }

  .carouselItems {
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;

    @include md {
      gap: 10px;
      // overflow-y: hidden;
      overflow-x: auto;
      margin-right: -20px;
      margin-left: -20px;
      padding: 0 20px;
    }

    .carouselItem {
      width: calc(20% - 16px);

      @include md {
        width: 125px;
      }

      flex-shrink: 0;

      .posterBlock {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px;

        @include md {
          aspect-ratio: 1/1.5;
        }

        .lazy-load-image-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .circleRating {
          width: 50px;
          height: 50px;
          position: relative;
          top: 30px;
          background: #fff;
          flex-shrink: 0;

          @include md {
            width: 40px;
            height: 40px;
          }
        }

        .genres {
          display: flex;
          flex-flow: wrap;
          justify-content: flex-end;
          z-index: 2;

          @include md {
            display: none;
            position: relative;
          }
        }
      }

      .textBlock {
        color: #fff;
        display: flex;
        flex-direction: column;

        .title {
          font-size: 20px;
          margin-bottom: 10px;
          line-height: 24px;

          @include ellipsis(1);

          @include md {
            font-size: 16px;
          }
        }

        .date {
          font-size: 14px;
          opacity: 0.5;

          @include ellipsis(1);
        }
      }
    }
  }
}
